.btn_body{
    height: 60px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    
}

.btn_title{
    margin: 5px;
}

.btn_body.active{
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    height: 60px;
    width: auto;
    transform: scale(1.05);
    border-radius: 10px;
    
}

.btn_body:hover{
    color: rgb(126, 247, 247);
    background-color: rgb(58, 58, 58);
    height: 60px;
    width: auto;
}

a{
    text-decoration: none !important;
    color: white;
}